h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 2;
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    line-height: 2;
}

.blog-post {

}

.blog-post-content {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-post-img {
    width: 100%;
}
