h2 {
    color: black;
}

.authentication__header {
    color: #030303;
    text-align: center;
}

.authentication {
    color: #000;
    width: 90%;
    max-width: 25rem;
    margin: 7rem auto;
    text-align: center;
}

.authentication form {
    margin-bottom: 1rem;
}
