.header {
    position: fixed;
    background-color: #065e36;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgb(249, 255, 251);
}


.logo {
    height: 100px;
    width: 180px;
}

.nav-bar-home {
    margin-top: 25px;
    margin-right: 10px;
    color: white;
}

.btn-contact {
    padding: 10px;
}

.btn-github {
    padding: 10px;
    color: white;
}
