.btn-contact {
    background-color: transparent;
    left: -50px;
    color: white;
    border-radius: 5px;
    border-color: white;
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
}

.logo {
    height: 200px;
    width: 450px;
}

.nav-bar {
    width: 98%;
    height: 100px;
    justify-content: space-between;
    display: inline-flex;
    padding: 20px 20px 80px;
}


