h1 {
    padding-top: 4rem;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.p {
    color: white;
}

.introduction {
    padding-left: 2rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
    width: 100%;
}

.me {
    margin-left: 67rem;
    margin-top: -60rem;
    width: 10rem;
    height: 10rem;
}
